#wp-calendar {
  thead {
    tr {
      th {
        text-align:center;
      }
    }
  }
  tbody {
    tr {
      td {
        text-align:center;
        border:none;
      }
      td:hover {
        background:$grayBg1;
        color:#333;
      }
      #today {
        color:#fff;
        a {
          color:#fff;
        }
      }
    }
  }
}
