*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# FrigateBird
/.vscode/
/.idea/
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
/gitattributes
_FolderWatchConfit.jscompress
/dist/static/js/npm.js
/static/js/npm.js
*.map
*.map
*.bak
comments-old.php
*.tif
*.tiff
*.psd
/dist/static/plug-in/botman/
/static/plug-in/botman/

# Node.js
node_modules/

#static

#dist
/dist