html,body {
    background:#000;
}
.cmd {
    background:#000;
    color:#fff;
    font-size:12px;
    padding:10px;
    position: relative;
    font-family: Tahoma;
}
#sub {
    /*display:none;*/
}
.chatlist:nth-child(2n) {
    color:#999;
}
.chatlist a {
    color:#fff;
    white-space: nowrap;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
}
.chatbox {
    border:none;
    background:transparent;
    color:#fff;
    width:80%;
    padding:0;
    height:17px;
    line-height:17px;
}
.chatTime {
    float:right;
    color:#333;
}
.inputtit {
    margin-right:3px;
}
.sendbox {
    line-height:100%;
}
.result {
    max-height: 260px;
    overflow-y: scroll;
    margin-bottom:10px;
}